:root {
  --main-color: #008080;
  --scound-color: skyblue;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  text-decoration: none !important;
  list-style: none;
  font-family: "Times New Roman", Times, serif !important;
}
h5 {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #0056b3;
  font-size: small;
}
.font-700 {
  font-family: "Alegreya", serif !important;
  font-family: "Merienda", cursive !important;
  font-weight: 700 !important ;
}
button {
  background-color: var(--main-color) !important;
}
.navbar {
  /* box-shadow: 10px 5px 10px #2b72e3 inset, 10px 10px 10px #603706 inset; */
  /* margin-bottom: 20px; */
  background-color: #008080;
}
.img-navbar img {
  width: 100%;
  height: 50px;
}
.margin-top {
  margin-top: 100px;
}
/*  Start modal Log In */
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for all buttons */
.cancelbtn,
.signupbtn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.cancelbtn:hover,
.signupbtn:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container-login {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr:not([size]) {
  border: 3px solid var(--main-color);
  margin-bottom: 25px;
  height: 11px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
/* Start header */
.header {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
  margin-bottom: -30px;
}
.content-headers {
  width: 100%;
  height: 90%;
  background-image: url(../img/home-Said/hero-slider-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: con-header;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes con-header {
  0% {
    background-image: url(../img/home-Said/hero-slider-1.jpg);
  }
  50% {
    background-image: url(../img/home-Said/hero-slider-2.jpg);
  }
}
.Tex-header {
  padding-top: 200px;
}
/* End header */

/* Start Said Service  */
.hover-service-Tow {
  background-color: #f6f6f6;
  margin: 1px;
  box-shadow: rgba(48, 48, 48, 0.1) 0px 1px 2px inset,
    rgb(255, 255, 255) 0px 0px 0px 1px;
  transition: all ease-in-out 0.3s; /* Animation */
  border-radius: 5px !important ;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.hover-service-Tow p,
.hover-service-Tow h5 {
  text-align: left;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 100 !important;
}
.hover-service-Tow:hover {
  border: 2px rgb(56, 56, 88) solid;
}
.hover-service-one {
  box-shadow: 5px 0px 5px 0px darkgrey;
  border-radius: 10px;
  background-color: #f6f6f6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.hover-service-Tow:hover,
.hover-service-one:hover {
  transform: translateY(-9px) !important;
  -webkit-transform: translateY(-9px) !important;
  -moz-transform: translateY(-9px) !important;
  -ms-transform: translateY(-9px) !important;
  -o-transform: translateY(-9px) !important;
}
/* End Said Service  */

/* <!-- Start Banner Single Item Tow --> */
.banner-single-item {
  position: relative;
  overflow: hidden;
}

.banner-single-item .image-link {
  display: block;
}

.banner-single-item .image {
  text-align: center;
}

.banner-single-item .content {
  position: absolute;
  z-index: 9;
}

/*Banner Animation*/
.banner-animation {
  position: relative;
}

.banner-animation::before {
  background: var(--main-color);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  right: 50%;
  top: 0;
  opacity: 1;
  width: 0;
}

.banner-animation::after {
  background: var(--scound-color);
  bottom: 50%;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 1;
  width: 0;
}

.banner-animation:hover::before {
  left: 0;
  right: 0;
  opacity: 0;
  width: auto;
  transition: all 900ms linear;
}
.banner-animation:hover::after {
  top: 0;
  bottom: 0;
  opacity: 0;
  width: auto;
  transition: all 900ms linear;
}
/* <!-- End Banner Single Item Tow --> */

/* start BLOG */
.imge-blog-content-one,
.imge-blog-content-tow,
.imge-blog-content-three,
.imge-blog-content-for {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.imge-blog-content-one {
  background-image: url(../img/home-Said/woods.jpg);
}
.imge-blog-content-tow {
  background-image: url(../img/home-Said/banner-style-7-img-2.jpg);
}
.imge-blog-content-three {
  background-image: url(../img/home-Said/banner-style-7-img-3.jpg);
}
.imge-blog-content-for {
  background-image: url(../img/home-Said/banner-style-7-img-3.jpg);
}
/* start footer */
footer {
  background-color: var(--main-color);
}

/* End footer */
/* Start scrollbar */
/* width */
/* ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
*/
/* End scrollbar */
/* Start Shop Style */

.add-to-cart-button {
  background-color: var(--main-color) !important;
}

.product-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 220px;
  background-color: #ffffff00;
  transition: transform 0.3s;
  border-radius: 8px;
}

.product-container:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin-top: 5px;
  border: 2px solid rgb(209, 203, 203);
}

.add-to-cart-button {
  background-color: #08396e;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.add-to-cart-button:hover {
  background-color: #0056b3;
}
/* CSS */
.catr-model::after {
  content: " ";
  width: 10px;
  height: 10px;
  font-size: 1rem;
  position: relative;
  top: -5px;
  right: 0px;
}

/* تحديد أنماط المظهر الإضافي عند زيادة العدد */
.catr-model.show-count::after {
  content: attr(
    data-count
  ); /* تعيين قيمة المتغير المخصص data-count كقيمة للعنصر */
}

.panar_shop {
  height: 300px;
  width: 100%;
  background-image: url(../img/home-Said/banner-2.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
@media (max-width: 494px) {
  .panar_shop {
    display: none;
  }
}
/* ----------------------- */
.position {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: 2;
  display: none;
}

.containerr {
  width: 220px;
  height: auto;
  border: 1px solid black;
  background: rgb(245, 243, 243);
}

.containerr p {
  height: 30px;
  font-size: 18px;
  font-family: arial;
  width: 99%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(245, 243, 243);
  color: black;
  transition: 0.2s;
}

.containerr p:hover {
  background: lightblue;
}

td {
  font-family: arial;
  font-size: 20px;
}

td:hover {
  background: lightblue;
  transition: 0.2s;
  cursor: pointer;
}
.brand-hover {
  background-color: #ddddddbd;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}
.brand-hover:hover {
  border: 1px solid rgb(0, 0, 0);
}
/* About */
.about-text {
  font-family: "Times New Roman", Times, serif;
  line-height: 30px;
  text-align: left !important ;
}
