* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: "Alegreya", serif;
  text-decoration: none;
}

body {
  height: 2000px;
  /* position: sticky; */
}
.background-navbar img {
  width: 100%;
  height: 50px;
}
/* Start header */
.header {
  width: 100%;
  height: 100vh;
}
.content-headers {
  width: 100%;
  height: 90%;
  background-image: url(../img/home-Said/hero-slider-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: con-header;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes con-header {
  0% {
    background-image: url(../img/home-Said/hero-slider-1.jpg);
  }
  50% {
    background-image: url(../img/home-Said/hero-slider-2.jpg);
  }
}
.Tex-header {
  padding-top: 200px;
}
/* End header */

/* <!-- Start Banner Single Item Tow --> */
.banner-single-item {
  position: relative;
  overflow: hidden;
}

.banner-single-item .image-link {
  display: block;
}

.banner-single-item .image {
  text-align: center;
}

.banner-single-item .content {
  position: absolute;
  z-index: 9;
}

/*Banner Animation*/
.banner-animation {
  position: relative;
}

.banner-animation::before {
  background: rgba(12, 12, 12, 0.3);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  right: 50%;
  top: 0;
  opacity: 1;
  width: 0;
}

.banner-animation::after {
  background: rgba(77, 219, 11, 0.6);
  bottom: 50%;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 1;
  width: 0;
}

.banner-animation:hover::before {
  left: 0;
  right: 0;
  opacity: 0;
  width: auto;
  transition: all 900ms linear;
}
.banner-animation:hover::after {
  top: 0;
  bottom: 0;
  opacity: 0;
  width: auto;
  transition: all 900ms linear;
}
/* <!-- End Banner Single Item Tow --> */

.hover-service-Tow:hover {
  box-shadow: 10px 10px rgb(63, 65, 63);
  cursor: cell;
}
.dd > img:hover {
  transform: scale(1.4) rotate(-8deg) !important;
  -webkit-transform: scale(1.4) rotate(-8deg) !important;
  -moz-transform: scale(1.4) rotate(-8deg) !important;
  -ms-transform: scale(1.4) rotate(-8deg) !important;
  -o-transform: scale(1.4) rotate(-8deg) !important;
}
/* section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}
#den {
  display: flex;
  flex-flow: row wrap;
  width: 25%;
} */
